extends ./layout.jade

block title
  title Fake article

block content 
  script(src='/js/jquery.scrolldepth.js')
  .page
    h1 I am a really long article
    div#article
      p!=articletext
  script.
    var clientHeight = document.getElementById('article').clientHeight;
    console.log(clientHeight);